<div class="wrapper">
  <div class="container">

    <div class="searchResults">
      <% if params[:search].present? == true %>

        <% if @locations.present? %>

        <table>
          <tr>
            <th>Movie</th>
            <th>Address</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

          <% @locations.each do |location| %>
            <tr>
               <td><%=location.scenes.pluck(:title)[0]%>,</td>
               <td><%= location.address %></td>
               <td><%= link_to 'Show', location %></td>
               <% if session[:user_id] %>
               <td><%= link_to 'Edit', edit_geolocation_path( location) %></td>
               <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
               <%= button_to 'Logout', logout_path, method: :delete %>
               <% end %>
             </tr>
          <% end %>
        </table>

        <% else %>
          <p>"There are no movie location near your location"</p>
        <% end %>
      <% end %>

<!-- Map preview if no search given -->
       <% if params[:search].present? == false %>
          <div class="IndexMovieData">
            <div class="Poster">
              <p><img src=<%= @movieAPIdata.poster %>></p>
            </div>


            <div class="GeoDetails">
                <p><b>Film:</b>
                <%= @preview.scenes.pluck(:title)[0]%>
                </p>
                <p><b>Address:</b>
                <%= @preview.address %></p>
              <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@preview.latitude}%2C#{@preview.longitude}" %>
            </div>
          </div>

       <% end %>

    </div>
    </div>
  </div>
</div>
