<h1>Enter your address</h1>

<%= form_tag geolocations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<% if params[:search].present? == true %>
  <table>
    <tr>
      <th>Movie</th>
      <th>Address</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>


  <% if @locations.present? %>
  <% @locations.each do |location| %>
   <tr>
     <td><%=location.scenes.pluck(:title)[0]%>,</td>
     <td><%= location.address %></td>
     <td><%= link_to 'Show', location %></td>
     <% if session[:user_id] %>
     <td><%= link_to 'Edit', edit_geolocation_path( location) %></td>
     <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     <%= button_to 'Logout', logout_path, method: :delete %>
     <% end %>
   </tr>
  <% end %>
  </table>
  <% else %>
    <p>"There are no movie location near your location"</p>
    <% end %>
<% end %>

<%= link_to 'New Location', new_geolocation_path %>
