<!DOCTYPE html>
<html>
<head>
  <title>MovieApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "nyc" %>
</head>
<body>
    <div class="userInput">
      <h1>On the Scene</h1>

      <%= form_tag geolocations_path, :method => :get do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
        <div class="UserOptions">
          <% if session[:user_id] %>
          <%= link_to 'Edit', edit_geolocation_path(@location) %> 
          <%= button_to 'Logout', logout_path, method: :delete %>
          <% end %>
          <% if params[:search].present? == true %>
            <%= link_to 'Back', geolocations_path %>
          <% end %>
        </div>
    </div>
<%= yield %>

</body>
</html>
